
/* sets the color of the top search menu */
.wy-side-nav-search, .wy-nav-top {
    background: #333399;
}
.wy-tray-container li.wy-tray-item-info{
    background:#333399
}
.wy-dropdown-menu>dd>a:hover{
    background:#333399;
}
.wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu a:hover{
    background:#ccccff;
}
.wy-inline-validate.wy-inline-validate-info .wy-input-context{
    color:#333399
}

.rst-content .wy-alert-neutral.admonition-todo a,.rst-content .wy-alert-neutral.admonition a,.rst-content .wy-alert-neutral.attention a,.rst-content .wy-alert-neutral.caution a,.rst-content .wy-alert-neutral.danger a,.rst-content .wy-alert-neutral.error a,.rst-content .wy-alert-neutral.hint a,.rst-content .wy-alert-neutral.important a,.rst-content .wy-alert-neutral.note a,.rst-content .wy-alert-neutral.seealso a,.rst-content .wy-alert-neutral.tip a,.rst-content .wy-alert-neutral.warning a,.wy-alert.wy-alert-neutral a{
    color:#333399
}
.rst-versions a{
    color:#333399;
    text-decoration:none
}
.rst-content a code,.rst-content a tt{
    color:#333399
}
.btn-info{
    background-color:#333399!important
}
.btn-link{
    color:#333399;
}
.btn-hover{
    background:#7a80f2;
}
.btn-info:hover{
    background-color:#7a80f2!important
}
/*.btn-link:active,.btn-link:hover{

    color:#7a80f2!important;
}*/

a{
    color:#333399;
}
a:hover{
    color:#ccccff
}
.wy-text-info{
    color:#333399!important
}
a.wy-text-info:hover{
    color:#7a80f2!important
}
.wy-menu-vertical a:active{
    background-color:#7a80f2;
}

.wy-nav .wy-menu-vertical header{
    color:#333399
}
.wy-nav .wy-menu-vertical a:hover{
    background-color:#7a80f2;
}

html.writer-html4 .rst-content dl:not(.docutils)>dt,html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt{
    color:#7a80f2;

}

